@tailwind base;
@tailwind components;
@tailwind utilities;

.my-masonry-grid {
  display: flex;
  width: fit-content;
}
.my-masonry-grid_column {
  padding-left: 15px;
  background-clip: padding-box;
}

/* Style des éléments */
.my-masonry-grid_column > img {
}

.custom-z-index {
  z-index: 1000000;
}

max-w-custom {
  max-width: 30rem;
}
max-w-50 {
  max-width: 59%;
}
* {
  font-family: "Nanum Gothic";
}

.swipper-wrapper {
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ffff;
}
